
* {
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 51, 0);
}

img {
    height: 400px;
}

#titulo {

    color:rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgb(146, 145, 255);

    font-size: 4rem;
    text-align: left;
    margin: 60px;
    margin-left: 10%;

    padding: 20px;

    border:0;
    border-left: 8px;
    border-style: solid;

    rotate: -2grad;
    transition: 0.1s linear;

}

#titulo:hover {
        box-shadow: 1px 1px 30px rgb(146, 145, 255);

}

#barra-de-titulo {
    background-color: rgb(0, 0, 0);
    display: flex;
    max-height: 500px;

}

#eslogan {

    color:rgb(255, 255, 255);

    font-size: 1.5rem;

}

#buscador {
    padding: 50px;
    background-color: rgb(47, 0, 255);

}

#main {

    display: flex;
    flex-direction: column;

    height: 100vh;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgb(0, 0, 0);

}

input {
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 400px;
    max-width: 400px;
    margin: 60px;

    box-shadow: 0px 0px 20px rgb(146, 255, 237);

    transition: 0.1s linear;
}

input:hover {
        box-shadow: 0px 0px 30px rgb(146, 255, 237);

}